{% for user in users %}
<tr>
    <td>{{ user.id }}</td>
    <td>{{ user.apellidos }}</td>
    <td>{{ user.nombre }}</td>
    <td>{{ user.nombre_modulo if user.nombre_modulo else 'N/A' }}</td>
    <td>{{ user.genero if user.genero else 'N/A' }}</td>
    <td>{{ user.prestamos_activos }}</td>
    <td>
        <a href="{{ url_for('users.ver_ficha_usuario', user_id=user.id) }}" class="btn btn-info btn-sm">Ver Ficha</a>
    </td>
</tr>
{% else %}
<tr>
    <td colspan="7" class="text-center">No se encontraron usuarios.</td>
</tr>
{% endfor %}
